@use 'reset';
@use 'theme';
@use 'typography';

body,
a {
  color: theme.$dark-500;
  line-height: 1.25;
}

body {
  background-color: theme.$light-500;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

pre {
  padding: 0.75rem;
  border: 1px solid theme.$dark-500;
  background-color: theme.$atom-one-dark-base;
  background-color: theme.$light-500;
  border-radius: 4px;
  overflow-x: auto;
}

[data-mdx-pretty-code-fragment] {
  pre:first-of-type {
    display: none;
  }

  [data-mdx-pretty-code]:first-of-type {
    display: none;
    padding: 0.125rem 0;
    border-radius: 4px;
  }
}

.dark {
  body {
    background-color: theme.$dark-500;
  }

  body,
  a {
    color: theme.$light-500;
  }

  [data-mdx-pretty-code-fragment] {
    pre:first-of-type {
      display: block;
      border-color: theme.$dark-400;
      background-color: theme.$atom-one-dark-base;
    }

    pre:not(:first-of-type) {
      display: none;
    }

    [data-mdx-pretty-code]:first-of-type {
      display: inline;
    }

    [data-mdx-pretty-code]:not(:first-of-type) {
      display: none;
    }
  }
}
