@use 'reset';
@use 'theme';
@use 'typography';

body,
a {
  color: theme.$dark-500;
  line-height: 1.25;
}

body {
  background-color: theme.$light-500;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.dark {
  body {
    background-color: theme.$dark-500;
  }

  body,
  a {
    color: theme.$light-500;
  }
}
