@use 'reset';
@use 'theme';
@use 'typography';

body,
a {
  color: theme.$dark-500;
  line-height: 1.25;
}

body {
  background-color: theme.$light-500;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

pre {
  padding: 0.75rem;
  border: 1px solid theme.$dark-400;
  background-color: theme.$atom-one-dark-base;
  border-radius: 4px;
  overflow-x: auto;
}

.dark {
  body {
    background-color: theme.$dark-500;
  }

  body,
  a {
    color: theme.$light-500;
  }
}
