// Brand - Strong blue
$brand-100: #6666e3;
$brand-200: #4d4dde;
$brand-300: #3333d9;
$brand-400: #1a1ad5;
$brand-500: #0000d0;
$brand-600: #0000bb;
$brand-700: #0000a6;
$brand-800: #000092;
$brand-900: #00007d;

// Light
$light-400: #d7dae0;
$light-500: #f9f9f9;
$light-600: #626772;

// Dark
$dark-400: #747d9180;
$dark-500: #21252b;

// Tertiary
$tertiary-100: #f9f8f6;
$tertiary-200: #f8f7f5;
$tertiary-300: #f7f5f3;
$tertiary-400: #f6f4f2;
$tertiary-500: #f5f3f0;
$tertiary-550: #e9e7e4;
$tertiary-600: #dddbd8;
$tertiary-700: #c4c2c0;
$tertiary-800: #acaaa8;
$tertiary-900: #939290;

// Atom One Dark
$atom-one-dark-base: #282c34;
$atom-one-dark-mono-1: #abb2bf;
$atom-one-dark-mono-2: #818896;
$atom-one-dark-mono-3: #5c6370;
$atom-one-dark-hue-1: #56b6c2;
$atom-one-dark-hue-2: #61aeee;
$atom-one-dark-hue-3: #c678dd;
$atom-one-dark-hue-4: #98c379;
$atom-one-dark-hue-5: #e06c75;
$atom-one-dark-hue-5-2: #be5046;
$atom-one-dark-hue-6: #d19a66;
$atom-one-dark-hue-6-2: #e6c07b;

$atom-one-dark-primary-300: #abb2bf26;
$atom-one-dark-primary-400: #515a6b;
$atom-one-dark-primary-500: #2c313c;

// Atom One Light
$atom-one-light-hue-2: #4078f2;
$atom-one-light-primary-400: #424243;
