// Brand - Strong blue
$brand-100: #6666e3;
$brand-200: #4d4dde;
$brand-300: #3333d9;
$brand-400: #1a1ad5;
$brand-500: #0000d0;
$brand-600: #0000bb;
$brand-700: #0000a6;
$brand-800: #000092;
$brand-900: #00007d;

// Primary
$primary-500: #000000;

// Secondary
$secondary-500: #ffffff;

// Tertiary
$tertiary-100: #f9f8f6;
$tertiary-200: #f8f7f5;
$tertiary-300: #f7f5f3;
$tertiary-400: #f6f4f2;
$tertiary-500: #f5f3f0;
$tertiary-550: #e9e7e4;
$tertiary-600: #dddbd8;
$tertiary-700: #c4c2c0;
$tertiary-800: #acaaa8;
$tertiary-900: #939290;
